* {
    box-sizing: border-box;
}

body {
    background-color: #414141;
    font-family: Arial, Helvetica, sans-serif;

}

.main {
    margin-right: 20%;
    padding-left: 100px;
    padding-right: 100px;

}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    padding: 5px;
    border-left: inset;
    background-color: #3E7079;
    text-align: center;
    font-size: 40px;
    color: white;
}

.sidebar img{
    margin-top: 10px;
    max-width: 10%;
    height: auto;
    position:absolute;
    left: 10px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
    max-height: 10%;
  }


h1 {
    padding-left: 150px;
    padding-top: 60px;

    color: #DDFC74;
}

h2 {
    color: #DDFC74;
    text-align: center;
}
h6 {
    margin: 0;
    color: #DDFC74;
    text-align: center;

}

p {
    padding-left: 20px;
    color: white;
    font-family: times;
    font-size: 20px;
    text-align: center;

}

a {
    margin: 10;
    padding: 0;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
  }

.first_paragraph {
    color: pink;
}


/* Color options to save for later: #559CAD;  */